:root{
    --color-blue: #39b1c6;
    --color-dblue: #277986;
    --color-lblue: #f0f9ee;
    --color-white: #fff;
    --color-bug: #e04949;
    --color-green: #2ecc71;

    --font-title: Montserrat,sans-serif;
    --font-body: Arial,sans-serif
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--color-dblue);
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--color-white);
    text-align: center;
    font-family: var(--font-title);
}
.logo {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  position: relative;
}

.logo::before,
.logo::after {
  content: "";
  position: absolute;
}

.logo::before {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  top: 15px;
  left: 15px;
}

.logo::after {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  top: 25px;
  left: 25px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
}

.cell{
    height: 50px;
    width: 50px;
    border: 3px solid var(--color-lblue);
    margin: 3px;
    background-color: var(--color-dblue);
    border-radius: 10px;
}

.cell:hover {
    background-color: var(--color-lblue);
    cursor: pointer;
}

.cell-flag {
    background-color: var(--color-lblue);
    background-image: url("../img/395841.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.cell-bug,
.cell-bug:hover {
    background-color: var(--color-bug);
    background-image: url("../img/bug-svgrepo-com.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    
}

.cell-empty {
    background-color: var(--color-lblue);
    color: var(--color-lblue);
}

.cell-num {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-lblue);
    font-family: var(--font-body);
    font-weight: bold;
    font-size: 1.3em;
}

.cell-num-1 {
    color: blue;
}

.cell-num-2 {
    color: green;
}

.cell-num-3 {
    color: red;
}

.cell-num-4 {
    color: navy;
}

.cell-num-5 {
    color: maroon;
}